body{
    background-color: #008E89;
}

hr{
    border-style: none;
    border-top-style:dotted ;
    border-color: #F10086;
    border-width: 5px;
    width: 5%;
}

h2{
    color: #D82148;
}